# 忽略操作文档
操作文档.md
# 忽略文件本身
.gitignore
# 忽略所有的todo文件
todo.md
# 忽略所有的压缩包
*.zip
# 忽略所有的csv数据
*.csv
# 忽略所有的dat文件
*.dat
#仅仅保留005号被试，作为数据展示
! *005*.csv
! *005*.dat
! 22-005-2021-11-04-16-03.csv
! 22-005.csv
! 22-005